<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="DOCDOC_API" value="https://private-anon-202ed26b33-dd1012.apiary-mock.com/public/rest/1.0.12/" />
        <env name="DOCDOC_LOGIN" value="example.login"/>
        <env name="DOCDOC_PASSWORD" value="example.password"/>
    </php>
</phpunit>
